<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.png" alt="Tiro Logo" height="30" class="d-inline-block align-text-top me-2">
                Tiro
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/search">Finn lærlinger</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">Om oss</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Kontakt</a>
                    </li>
                </ul>

                <div class="navbar-nav">
                    <% if (typeof user !== 'undefined' && user) { %>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <%= user.name %>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                <li><a class="dropdown-item" href="/profile">Min profil</a></li>
                                <li><a class="dropdown-item" href="/settings">Innstillinger</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/auth/logout">Logg ut</a></li>
                            </ul>
                        </div>
                    <% } else { %>
                        <a class="nav-link" href="/auth/login">Logg inn</a>
                        <a class="btn btn-primary ms-2" href="/auth/register">Registrer deg</a>
                    <% } %>
                </div>
            </div>
        </div>
    </nav>
</header>