<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="/">Tiro</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/search">Søk etter lærlinger</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">Om oss</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/terms">Brukervilkår</a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <% if (typeof user !== 'undefined' && user) { %>
                        <% if (user.constructor.modelName === 'Apprentice') { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/profile/<%= user._id %>">
                                    <i class="bi bi-person"></i> Min profil
                                </a>
                            </li>
                        <% } %>
                        <li class="nav-item">
                            <a class="nav-link" href="<%= user.constructor.modelName === 'Organization' ? '/organization/logout' : '/auth/logout' %>">
                                <i class="bi bi-box-arrow-right"></i> Logg ut
                            </a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/login">Logg inn</a>
                        </li>
                        <li class="nav-item">
                            <div class="btn-group ms-2">
                                <a class="btn btn-primary" href="/auth/register">Registrer som lærling</a>
                                <a class="btn btn-outline-primary" href="/organization/register">Registrer bedrift</a>
                            </div>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
</header>