<div class="container py-5">
  <h1 class="text-center mb-5">Kontakt oss</h1>

  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h5><i class="bi bi-envelope"></i> E-post</h5>
      <p>kontakt@tiro.no</p>
    </div>
  </div>
</div>
